<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">

<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<!--===============================================================================================-->
	<link rel="icon" th:href="@{/img/logo-solo - negro.png}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/slick/slick.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/MagnificPopup/magnific-popup.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	<!--===============================================================================================-->
</head>

<body class="animsition">

	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top" id="colorNavBar" style="padding: 3px;">
		<div class="container">
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<div class="logo1">
						<a class="navbar-logo" th:href="@{/}"><img src="img/Logo final - Domidonetta 2 Letra Blanco.png"
								width="200"></a>
					</div>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<span class="hamburger-menu"></span>

						<div class="navbar-nav closed" id="menu">
							<ul>
								<!-- <li><a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a></li> -->
								<li><a class="nav-link" th:href="@{/index}">Productos</a></li>
								<li><a class="nav-link" th:href="@{/user/getCart}">Carrito</a></li>
                                <li><a class="nav-link active" aria-current="page" th:href="@{/logout}">Cerrar</a>
                                </li>
							</ul>
						</div>

					</div>
				</div>
			</nav>
		</div>
	</nav>

	<!-- Fixed navbar end -->

	<!-- Product -->



	<section class="bg0 p-t-23 p-b-140">

		
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Visualizar productos
				</h3>
			</div>

			

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						Todos los productos
					</button>
					<tr th:if="${categorias.size()>0}" th:each="c:${categorias}">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" th:data-filter="'.cat' + ${c.idCategoria}"
							th:text="${c.nombre}">
						</button>
				</div>
				</tr>

				<!-- Filter -->

			</div>

		

			<div class="ListProduct " >

			
				<div class="row isotope-flex" th:if="${productos.size()>0}" th:each="p:${productos}">
	
					<div th:class="'col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item cat' + ${p.categoria.idCategoria}">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img th:if="${#strings.length(p.foto) > 0}" class="rounded"
									th:src="@{'/admin/producto/uploads/' + ${p.foto}}" th:alt="${p.foto}" width="100%"
									height="100%" />
	
								<a href="#"
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									Detalles
								</a>
							</div>
	
							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
									th:href="@{/user/ver-producto/}+${p.idProducto}">
										<p th:text="${p.nombre}"></p>
									</a>
	
									<span class="stext-105 cl3">
										<p th:text="${p.precio}"></p>
									</span>
								</div>
	
								<div class="block2-txt-child2 flex-r p-t-3">
									<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png"
											alt="ICON">
										<img class="icon-heart2 dis-block trans-04 ab-t-l"
											src="images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal1 -->
						<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
							<div class="overlay-modal1 js-hide-modal1"></div>
	
							<div class="container">
								<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
									<button class="how-pos3 hov3 trans-04 js-hide-modal1">
										<img th:src="@{/images/icons/icon-close.png}" alt="CLOSE">
									</button>
	
									<div class="row">
										<div class="col-md-6 col-lg-7 p-b-30">
											<div class="p-l-25 p-r-30 p-lr-0-lg">
												<div class="wrap-slick3 flex-sb flex-w"
													style="display: flex; justify-content: center; align-items: center">
	
													<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
	
													<div class="slick3 gallery-lb">
														<div class="item-slick3">
															<div class="wrap-pic-w pos-relative">
																<td><img th:if="${#strings.length(p.foto) > 0}" class="rounded"
																		th:src="@{'/producto/uploads/' + ${p.foto}}" th:alt="${p.foto}"
																		width="100%" height="100%" /></td>
	
															</div>
														</div>
	
	
													</div>
												</div>
											</div>
										</div>
	
	
										<div class="col-md-6 col-lg-5 p-b-30">
	
	
											<div class="p-r-50 p-t-5 p-lr-0-lg"
												style=" align-items: flex-start; display: flex; justify-content: center;width: 100%; flex-direction: column;">
												<h4 class="mtext-105 cl2 js-name-detail p-b-14">
													<h1 style="color:#000;" th:text="${p.nombre}"></h1>
													<hr>
												</h4>
	
												<ul class="list-group">
													<li class="list-group-item" style="border: 0px solid #ddd; width: 100%;">
														<h2 style="color:#bd5050; padding-bottom: 5px;">Precio: $</h2>
														<h3 th:text="${p.precio} "></h3>
														<hr>
													</li>
													<li class="list-group-item" style="border: 0px solid #ddd; width: 100%;">
														<h2 style="color:#bd5050; padding-bottom: 5px;">Descripción:</h2>
														<h3 th:text="${p.descripcion} "></h3>
														<hr>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		
		
	</section>


	<!-- Footer -->
	<section class="probootstrap-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p class="copyright-text">&copy; 2022 <a>Donneta</a>.
						Todos los derechos reservados. <a>| SENA : ADSI|</a> &amp; <a>FICHA : 2465896</a></p>
				</div>
				<div class="col-md-4">
					<ul class="probootstrap-footer-social right">
						<li><a href="https://github.com/santicarreno13"><i class="icon-github"></i></a></li>
						<li><a href="https://github.com/Johan505"><i class="icon-github"></i></a></li>
						<li><a href="https://github.com/julianruizzz"><i class="icon-github"></i></a></li>
						<li><a href="https://github.com/Verink55"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div th:if="${productos.size()>0}" th:each="p:${productos}">

		<!-- <td><img th:if="${#strings.length(p.foto) > 0}" class="rounded"
				th:src="@{'/producto/uploads/' + ${p.foto}}"
				th:alt="${p.foto}" width="75px" height="75px"/></td>
			<td th:text="${p.nombre}"></td>
			<td th:text="${p.descripcion}"></td>
			<td th:text="${p.precio}"></td> -->

		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>

		<!-- Modal1 -->
		<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
			<div class="overlay-modal1 js-hide-modal1"></div>

			<div class="container">
				<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
					<button class="how-pos3 hov3 trans-04 js-hide-modal1">
						<img th:src="@{/images/icons/icon-close.png}" alt="CLOSE">
					</button>

					<div class="row">
						<div class="col-md-6 col-lg-7 p-b-30">
							<div class="p-l-25 p-r-30 p-lr-0-lg">
								<div class="wrap-slick3 flex-sb flex-w"
									style="display: flex; justify-content: center; align-items: center">

									<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

									<div class="slick3 gallery-lb">
										<div class="item-slick3">
											<div class="wrap-pic-w pos-relative">
												<td><img th:if="${#strings.length(p.foto) > 0}" class="rounded"
														th:src="@{'/producto/uploads/' + ${p.foto}}" th:alt="${p.foto}"
														width="100%" height="100%" /></td>

											</div>
										</div>


									</div>
								</div>
							</div>
						</div>


						<div class="col-md-6 col-lg-5 p-b-30">


							<div class="p-r-50 p-t-5 p-lr-0-lg"
								style=" align-items: flex-start; display: flex; justify-content: center;width: 100%; flex-direction: column;">
								<h4 class="mtext-105 cl2 js-name-detail p-b-14">
									<h1 style="color:#000;" th:text="${p.nombre}"></h1>
									<hr>
								</h4>

								<ul class="list-group">
									<li class="list-group-item" style="border: 0px solid #ddd; width: 100%;">
										<h2 style="color:#bd5050; padding-bottom: 5px;">Precio: $</h2>
										<h3 th:text="${p.precio} "></h3>
										<hr>
									</li>
									<li class="list-group-item" style="border: 0px solid #ddd; width: 100%;">
										<h2 style="color:#bd5050; padding-bottom: 5px;">Descripción:</h2>
										<h3 th:text="${p.descripcion} "></h3>
										<hr>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/hamburger.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>

	
	<!--===============================================================================================-->
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/slick/slick.min.js}"></script>
	<script th:src="@{/js/slick-custom.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/parallax100/parallax100.js}"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/isotope/isotope.pkgd.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/sweetalert/sweetalert.min.js}"></script>
	<script>
		$('.js-addwish-b2').on('click', function (e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function () {
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function () {
				swal(nameProduct, "se a añadido a favoritos !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function () {
				swal(nameProduct, "se a añadido a favoritos !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	
	<script>
		Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'Se esta preparando tu domicilio',
  showConfirmButton: false,
  timer: 1500
})
	</script>
	<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>

	

</body>

</html>