<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" type="text/css"
                href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
        <script type="text/javascript"
                src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <title>INICIO</title>
</head>

<body style="margin: 10px 10%;">

        <fieldset style="text-align: center;">
                <legend style="text-align: center; text-shadow: -2 1px 0 #ff0061, 0px 2px 0 #270a0a">Este es el proyecto
                        de DomiDonetta en Spring</br></legend></br>

                <h2>Autora: Julian Andres Ruiz Blanco</h2>
                <h2>Autora: Johan Mauricio Avendaño Velásquez</h2>
                <h2>Autora: Santiago Esteban Carreño Mancera</h2>
                <h2>Autora: Veronica Sofia Jimenez Medina</h2>

                <h3 th:text="${mjinicio}"></h3>
                <a style="margin:0px 10px 0px 10px;" type="button" class="btn btn-outline-secondary"
                        th:href="@{/categoria/}"><span class='bi bi-folder2-open'></span> CATEGORIA</a>

                <a style="margin:0px 10px 0px 10px;" type="button" class="btn btn-outline-secondary"
                        th:href="@{/venta/}"><span class='bi bi-folder2-open'></span> VENTA</a>

                <a style="margin:0px 10px 0px 10px;" type="button" class="btn btn-outline-secondary"
                        th:href="@{/detalle/}"><span class='bi bi-folder2-open'></span> DETALLE</a>

                <a style="margin:0px 10px 0px 10px;" type="button" class="btn btn-outline-secondary"
                        th:href="@{/producto/}"><span class='bi bi-folder2-open'></span> PRODUCTO</a>

                <a style="margin:0px 10px 0px 10px;" type="button" class="btn btn-outline-secondary"
                        th:href="@{/cliente/}"><span class='bi bi-folder2-open'></span> CLIENTE</a>

                <a style="margin:0px 10px 0px 10px;" type="button" class="btn btn-outline-secondary"
                        th:href="@{/domiciliario/}"><span class='bi bi-folder2-open'></span> DOMICILIARIO</a>

                <a style="margin:0px 10px 0px 10px;" type="button" class="btn btn-outline-secondary"
                        th:href="@{/domicilio/}"><span class='bi bi-folder2-open'></span> DOMICILIO</a>

                <a style="margin:0px 10px 0px 10px;" type="button" class="btn btn-outline-secondary"
                        th:href="@{/empleado/}"><span class='bi bi-folder2-open'></span> EMPLEADO</a>

        </fieldset>
        <!-- <span class='bi bi-house-fill'></span>
            <span class='bi bi-arrows-fullscreen'></span>
            <span class='bi bi-house-door-fill'></span>
            <span class='bi bi-hand-index-fill'></span>
            <span class='bi bi-folder-x'></span>
            <span class='bi bi-chevron-compact-left'></span>
            <span class='bi bi-caret-left-fill'></span>
            <span class='bi bi-folder2-open'></span> -->


</body>

</html>