<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Donneta</title>
  <meta name="description" content="Free Bootstrap Theme by uicookies.com">
  <meta name="keywords"
    content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
  <link th:href="@{/https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/css/styles-merged.css}">
  <link rel="stylesheet" th:href="@{/css/style.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  <link rel="icon" th:href="@{/img/logo-solo - negro.png}">

  <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <!-- Fixed navbar -->

  <nav class="navbar navbar-default navbar-fixed-top" id="colorNavBar">
    <div class="container">

      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <div class="logo1">
            <a class="navbar-logo" href="#"><img src="img/Logo final - Domidonetta 2 Letra Blanco.png" width="200"></a>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <span class="hamburger-menu"></span>

            <div class="navbar-nav closed" id="menu">
              <ul>
                <li><a class="nav-link active" aria-current="page" data-nav-section="inicio">Inicio</a></li>
                <li><a class="nav-link" href="#" data-nav-section="menu">Menú</a></li>
                <li><a class="nav-link" href="#" data-nav-section="Proceso">Proceso</a></li>
                <li><a class="nav-link" href="#" data-nav-section="contacto">Contáctanos</a></li>
                <li><a class="nav-link" th:href="@{/login}" id="InicioSesion">Pedir en línea</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </nav>

  <!-- Fixed navbar end -->

  <section class="flexslider" data-section="inicio">
    <ul class="slides">
      <li style="background-image: url(img/1.jpg)" class="overlay" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading-menu">
                <h3 class="secondary-heading">DONNETA</h3>
                <p class="sub-heading">No puedes comprar la felicidad, pero si puedes comprar unas donas, que viene a
                  ser lo mismo.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(img/2.jpg)" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading-menu">
                <h3 class="secondary-heading">DONNETA</h3>
                <p class="sub-heading">Donde hay comida, hay felicidad.</p>
              </div>
            </div>
          </div>
        </div>

      </li>
      <li style="background-image: url(img/3.jpg)" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading-menu">
                <h3 class="secondary-heading">DONNETA</h3>
                <p class="sub-heading">La vida es una combinacion de magia y donas.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="probootstrap-section probootstrap-bg-white" data-section="">
    <div class="container" style="    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;">
      <div class="row">
        <div class="probootstrap-heading dark">
          <h6 class="secondary-heading">Cafeteria Donneta </h6>
          <div>
            <p>La cafetería Donneta ubicada en Outlet de las Américas,
              local en el centro comercial, Outlet Centro.
            </p>
            <p>
              Somos una cafetería en donde preparamos diferentes tipos de donas, bebidas frias o calientes como el cafe,
              dedicada a la venta de donas por medio de domicilios, te los llevamos hasta la puerta de tu hogar
              Pide tu domicilio ahora no que te quedes con la espera aprovecha ahora...
            </p>
            <center>
              <p><a href="https://goo.gl/maps/fMByHZjhZ9akGFmu7" class="probootstrap-custom-link">Ubicanos</a></p>
            </center>
          </div>
        </div>



      </div>
      <div class="col-md-6 col-md-push-1 probootstrap-animate">
        <img src="img/Logo final - Domidonetta 4 - negro.png" alt="" width="500" height="400"
          style="margin-right: 50px;">
      </div>
    </div>
    <!-- END row -->
    </div>
  </section>

  <section class="probootstrap-section-bg overlay" style="background-image: url(img/menu.jpg);"
    data-stellar-background-ratio="0.5" data-section="">
    <div class="container" data-section="menu">
      <div class="row">
        <div class="col-md-12 text-center probootstrap-animate">
          <div class="probootstrap-heading-menu">
            <h3 class="secondary-heading">Menú</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section probootstrap-bg-white" data-section="">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <ul class="menus">
            <li>
              <figure class="image"><img src="img/glaseado.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
              <div class="text">
                <span class="price">$4.000</span>
                <h3>Dona Glaseada</h3>
                <p>Glaseado </p>
              </div>
            </li>
            <li>
              <figure class="image"><img src="img/chocolate.jpg" alt="Free Bootstrap Template by uicookies.com">
              </figure>
              <div class="text">
                <span class="price">$4.000</span>
                <h3>Dona de Chocolate</h3>
                <p>Chocolate</p>
              </div>
            </li>
        </div>
        <div class="col-md-6">
          <ul class="menus">
            <li>
              <figure class="image"><img src="img/chocolatechispas.webp" alt="Free Bootstrap Template by uicookies.com">
              </figure>
              <div class="text">
                <span class="price">$4.000</span>
                <h3>Dona de chispas de Chocolate</h3>
                <p>Chocolate / Chistapas</p>
              </div>
            </li>
            <li>
              <figure class="image"><img src="img/chocomani.jpg" alt="Free Bootstrap Template by uicookies.com">
              </figure>
              <div class="text">
                <span class="price">$4.000</span>
                <h3>Dona de anillo de chocomani</h3>
                <p>Chocolate / Mani</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <ul class="menus">
            <li>
              <figure class="image"><img src="img/donaChocolateCoco.jpg" alt="Free Bootstrap Template by uicookies.com">
              </figure>
              <div class="text">
                <span class="price">$4.000</span>
                <h3>Dona cubierta de chocolate con coco</h3>
                <p>Chocolate / Coco </p>
              </div>
            </li>
            <li>
              <figure class="image"><img src="img/oreo.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
              <div class="text">
                <span class="price">$4.000</span>
                <h3>Dona de anillo oreo</h3>
                <p>Chocolate / Glaseado / Oreo</p>
              </div>
            </li>
        </div>
        <div class="col-md-6">
          <ul class="menus">
            <li>
              <figure class="image"><img src="img/arequipe.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
              <div class="text">
                <span class="price">$4.000</span>
                <h3>Dona Rellena de arequipe</h3>
                <p>Glaseado / Arequipe</p>
              </div>
            <li>
              <figure class="image"><img src="img/encanto.webp" alt="Free Bootstrap Template by uicookies.com"></figure>
              <div class="text">
                <span class="price">$4.000</span>
                <h3>Dona Encanto de chocolate</h3>
                <p>Chocolate / Glaseado</p>
              </div>
            </li>
            </li>
          </ul>
        </div>

      </div>
    </div>
    </div>
  </section>
  <section class="probootstrap-section-bg overlay" style="background-image: url(img/compras-bolsa.webp);"
    data-stellar-background-ratio="0.5" data-section="Proceso">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center probootstrap-animate">
          <div class="probootstrap-heading-menu">
            <h3 class="secondary-heading">Proceso de compra</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="comentarios" data-section="">

    <div id="a">
    </div>
    <div class="cards-container">
      <div class="card">
        <img src="img/opinion/Vector-opinion.png" alt="" class="bg-card">
        <div class="card-info">
          <img src="img/compras.png" alt="">
          <div>
            <p>Selección del producto</p>
            <span></span>
          </div>
        </div>
        <div>
          <p>Selecciona el producto y hacer click en "agregar al carrito",
            luego de tener todos los productos deseados se podrán observar, también podrá editar su cantidad
            o si deseas eliminarlo igualmente.</p>
        </div>
      </div>
      <div class="card">
        <img src="img/opinion/Vector-opinion.png" alt="" class="bg-card">
        <div class="card-info">
          <img src="img/confirmacion.png" alt="">
          <div>
            <p>Realizar la Compra</p>
            <span></span>
          </div>
        </div>
        <div>
          <p>Para completar la compra se ingresarán los datos de contacto necesarios,
            e igualmente los datos de pago. </p>
        </div>
      </div>
      <div class="card">
        <img src="img/opinion/Vector-opinion.png" alt="" class="bg-card">
        <div class="card-info">
          <img src="img/envio.png" alt="">
          <div>
            <p>Carga y envio de los productos</p>
            <span></span>
          </div>
        </div>
        <div>
          <p>Nuestros empleados empacarán los productos solicitados
            y serán enviados inmediatamente con el repartido que te llevara los productos hasta la puerta de tu casa.
          </p>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <section class="probootstrap-section-bg overlay" style="background-image: url(img/contacto.jpg);"
    data-stellar-background-ratio="0.5" data-section="contacto">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center probootstrap-animate">
          <div class="probootstrap-heading-menu">
            <h3 class="secondary-heading">Contáctanos</h3>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="probootstrap-section probootstrap-bg-white" data-section="">
    <div class="container">


      <div class="col-md-6 probootstrap-animate">
        <div class="probootstrap-footer-widget">
          <h3>Horas de apuertura</h3>
          <div class="row">
            <div class="col-md-4">
              <p>Lunes - Viernes <br> 5:30pm - 9:00pm</p>
            </div>
            <div class="col-md-4">
              <p>Sabado - Domingo <br> 6:30pm - 8:30pm</p>
            </div>
            <br><br><br><br>
            <h3>Contactos</h3>
            <div class="col-md-4">
              <p>CGMLI <br><br> Técnicos en Programacion de software </p>
            </div>
            <div class="col-md-4">
              <p>Fontibón SENA <br><br> ADSI</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-push-1 probootstrap-animate">
        <form th:action="@{/landi}" method="post" class="probootstrap-form">
          <div class="form-group">
            <label for="c_name">Tú Nombre</label>
            <div class="form-field">
              <input type="text" id="c_name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="c_email">Tú Correo</label>
            <div class="form-field">
              <input type="text" id="c_email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="c_message">Tú Mensaje</label>
            <div class="form-field">
              <textarea name="c_message" id="c_message" cols="30" rows="10" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
              name="c_submit" id="c_submit" style="border:none;">Enviar Mensaje</button>
          </div>
          <!-- <div th:if="${param.sended}">
            <div class="alert alert-success" role="alert">
                se le envio un correo con la informacion
            </div> -->
        </div>
        </form>
      </div>

    </div>
    </div>
  </section>
  <section class="probootstrap-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="copyright-text">&copy; 2022 <a>Donneta</a>.
            Todos los derechos reservados. <a>| SENA : ADSI|</a> &amp; <a>FICHA : 2465896</a></p>
        </div>
        <div class="col-md-4">
          <ul class="probootstrap-footer-social right">
            <li><a href="https://github.com/santicarreno13"><i class="icon-github"></i></a></li>
            <li><a href="https://github.com/Johan505"><i class="icon-github"></i></a></li>
            <li><a href="https://github.com/julianruizzz"><i class="icon-github"></i></a></li>
            <li><a href="https://github.com/Verink55"><i class="icon-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <script>
    $('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
      e.preventDefault();
    });

    $('.js-addwish-b2').each(function () {
      var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
      $(this).on('click', function () {
        swal(nameProduct, "is added to wishlist !", "success");

        $(this).addClass('js-addedwish-b2');
        $(this).off('click');
      });
    });

    $('.js-addwish-detail').each(function () {
      var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

      $(this).on('click', function () {
        swal(nameProduct, "is added to wishlist !", "success");

        $(this).addClass('js-addedwish-detail');
        $(this).off('click');
      });
    });

    /*---------------------------------------------*/

    $('.js-addcart-detail').each(function () {
      var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
      $(this).on('click', function () {
        swal(nameProduct, "Tu mensaje ha sido enviado!", "success");
      });
    });

  </script>
  <script src="js/scripts.min.js"></script>
  <script src="js/custom.min.js"></script>
  <script src="js/hamburger.js"></script>

</body>

</html>