<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title></title>


</head>

<body>



	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Domicilio
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
		</ol>

		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Id domicilio</th>
									<th scope="col">Nombre</th>
									<th scope="col">Dirección</th>
									<th scope="col">Teléfono</th>
									<th scope="col">Id Venta</th>

								</tr>
							</thead>
							<tbody>
								<tr th:each="domicilio:${domicilios}">
									<td th:text="${domicilio.idDomicilio}"></td>
									<td th:text="${domicilio.nombre}"></td>
									<td th:text="${domicilio.direccion}"></td>
									<td th:text="${domicilio.telefono}"></td>
									<td th:text="${domicilio.venta.id}"></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>